* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: var(--beige);
  color: var(--tomato);
}
input,
button,
textarea,
select {
  font: inherit;
}
img {
  display: block;
  max-width: 100%;
}
:root {
  --tomato: tomato;
  --beige: rgb(253, 244, 227);
}
.wrapper {
  max-width: 600px;
  margin: 3rem auto;
}
h1 {
  font-size: 3rem;
}
h1,
h2,
.round {
  text-align: center;
  padding: 2rem 0;
}
main {
  padding: 4rem;
  border: 3px solid var(--tomato);
  border-radius: 5px;
  font-weight: 700;
}
.flex {
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.timer {
  text-align: center;
  font-size: 7rem;
  min-height: 10.5rem;
}
button {
  padding: 0.75rem 1rem;
  color: inherit;
  border: 2px solid var(--tomato);
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
  transition: 1s ease;
}
button:hover,
button:focus {
  color: var(--beige);
  background-color: var(--tomato);
}

